@media print, (max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .content_flex .content
    {
        width: 100%;

        order: 2;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding: 15px 18px 16px;
    }

    .accordion_item .head .title
    {
        font-size: 20px;
        line-height: 26px;
    }


    .accordion_item .data
    {
        padding: 0 18px 26px;
    }



    /*------------
        Header
    ------------*/
    header .menu
    {
        position: absolute;
        top: 100%;
        left: 0;

        display: block;

        width: 100%;
        margin: 0;
        padding: 32px 24px;

        transition: transform .2s linear;
        transform: translateX(-100%);

        border-top: 1px solid #ebebeb;
        background: #fff;
        box-shadow: 0 4px 13px rgba(30, 35, 66, .11);
    }

    header .menu.show
    {
        transform: translateX(0%);
    }

    header .menu .item + .item
    {
        margin-top: 12px;
        margin-left: 0;
    }

    header .menu .item > a
    {
        font-size: 22px;
        line-height: 47px;

        display: block;

        padding: 0;

        text-align: center;
    }

    header .menu .item > a:after
    {
        display: none;
    }


    header .menu .sub_menu
    {
        position: relative;
        top: 0;
        left: 0;

        display: none;
        visibility: visible;

        width: 100%;
        min-width: 0;
        padding: 0;

        opacity: 1;
        background: none;
        box-shadow: none;
    }


    header .menu .item.show
    {
        display: block !important;

        margin: 0;
    }

    header .menu .item.show > a
    {
        display: none;
    }

    header .menu .item.show .sub_menu
    {
        display: block;
    }

    header .menu .item.show .sub_menu .mob_title
    {
        display: flex;
    }


    header .menu .sub_menu a
    {
        font-size: 17px;
        line-height: 23px;
    }


    header .mob_menu_btn
    {
        display: flex;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        width: 100%;
        margin-bottom: 40px;
    }



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block table th:first-child,
    .text_block table td:first-child
    {
        padding-left: 24px;
    }

    .text_block table th:last-child,
    .text_block table td:last-child
    {
        padding-right: 24px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .stats .item
    {
        display: block;

        text-align: center;
    }

    .stats .item .icon
    {
        margin: 0 auto 12px;
    }



    /*----------------
        Bookmakers
    ----------------*/
    .bookmakers .item.exclusive:before
    {
        font-size: 12px;
        line-height: 20px;
    }


    .bookmakers .item .col_number
    {
        display: none;
    }

    .bookmakers .col_logo
    {
        margin-left: 0 !important;
    }

    .bookmakers .col_info
    {
        width: 100px;
        min-width: 100px;
    }

    .bookmakers .item .rating > * + *
    {
        margin-left: 2px;
    }

    .bookmakers .item .col_btns a
    {
        padding: 6px 20px 9px;
    }


    .bookmakers .col_btns
    {
        width: 184px;
        min-width: 184px;
    }



    /*--------------------
        Bookmaker info
    --------------------*/
    .bookmaker_info .col_center
    {
        width: calc(100% - 230px);
    }


    .bookmaker_info .desc
    {
        width: 100%;
        margin-top: 20px;
        padding: 0;

        border: none;
    }


    .bookmaker_info .btns .btn
    {
        padding: 9px 20px 13px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 56px 0 48px;
    }


    footer .col_left
    {
        width: 192px;
    }


    footer .logo,
    footer .logo img
    {
        width: 100%;
        height: auto;
    }


    footer .socials a + a
    {
        margin-left: 10px;
    }



    /*-----------
        PopUp
    -----------*/
}
